@page "/admin"
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Admin</PageTitle>

<h1>Administration</h1>
<hr />

<div class="d-flex flex-column gap-3" style="max-width: 400px">
    <a href="/admin/createuser" style="text-decoration:none; color:inherit">
        <MudCard Style="cursor:pointer">
            <MudCardContent>
                <MudText Typo="Typo.subtitle1" Style="font-weight:bold">Create User</MudText>
                <MudText Typo="Typo.body2">Add a new user account.</MudText>
            </MudCardContent>
        </MudCard>
    </a>

    <a href="/admin/resetpassword" style="text-decoration:none; color:inherit">
        <MudCard Style="cursor:pointer">
            <MudCardContent>
                <MudText Typo="Typo.subtitle1" Style="font-weight:bold">Reset Password</MudText>
                <MudText Typo="Typo.body2">Reset a password for an existing user.</MudText>
            </MudCardContent>
        </MudCard>
    </a>
</div>
