@page "/edit-routine"
@page "/edit-routine/{id:int}"
@rendermode RenderMode.InteractiveServer

<h3>Edit Routine</h3>

<EditForm Model=@routine OnSubmit=@HandleSubmit FormName="editroutine">
	<p>
		<label>Name</label>
		<InputText @bind-Value="routine.Name">@routine.Name</InputText>
	</p>
	@foreach (var e in routine.Exercises)
	{
		<div>
			<label>Exercise</label>
		</div>
		<div>
			<label>Name</label>
			<InputText @bind-Value=e.Name>@e.Name</InputText>
			<label>Sets</label>
			<InputNumber @bind-Value=e.Sets>@e.Sets</InputNumber>
			<button @onclick=RemoveExercise class="btn btn-secondary">-</button>
		</div>
	}

	<button @onclick=AddExercise class="btn btn-primary">+</button>
</EditForm>



@code {

	[Parameter]
	public int? Id { get; set; }

	Routine routine = new() {
		Name = string.Empty,
		Exercises = new List<Exercise>()
		{
			new Exercise()
			{
				Sequence = 1,
				Name = string.Empty,
				Sets = 1,

				HasReps = true,
				HasWeight = true
			}
		},
	};

	async Task HandleSubmit()
	{
		// Submit the changes / additions
	}

	void AddExercise()
	{
		routine.Exercises.Add(
			new Exercise()
			{
				Sequence = 1,
				Name = string.Empty,
				Sets = 1,

				HasReps = true,
				HasWeight = true
			}
		);
		StateHasChanged();
	}

	void RemoveExercise()
	{
		if (routine.Exercises.Count > 1)
		{
			routine.Exercises.RemoveAt(routine.Exercises.Count - 1);
		}
	}
}
