@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
		<p>
			Hi @context.User.Identity?.Name!
		</p>
		<p>
			<RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Start Workout" href="/routines" />
		</p>
	</Authorized>
	<NotAuthorized>
		<p>
			<RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Log In" href="/Account/Login" />
		</p>
	</NotAuthorized>
</AuthorizeView>