@page "/"

@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
		<p>
			Hi @context.User.Identity?.Name!
		</p>
		<p>
			<RadzenButton 
				ButtonStyle="ButtonStyle.Primary"
				Click="@(() => navigation.NavigateTo("/routines"))">
				Start Workout
			</RadzenButton>
		</p>
	</Authorized>
	<NotAuthorized>
		<p>
			<RadzenButton 
				ButtonStyle="ButtonStyle.Primary"
				Click="@(() => navigation.NavigateTo("/Account/Login"))">
				Log In
			</RadzenButton>
		</p>
	</NotAuthorized>
</AuthorizeView>