@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
		<p>
			Hi @context.User.Identity?.Name!
		</p>
		<p>
			<a href="/routines" class="rz-button rz-button-md rz-variant-filled rz-primary rz-shade-default">Start Workout</a>
		</p>
	</Authorized>
	<NotAuthorized>
		<p>
			<a href="/Account/Login" class="rz-button rz-button-md rz-variant-filled rz-primary rz-shade-default">Log In</a>
		</p>
	</NotAuthorized>
</AuthorizeView>