@page "/"

<PageTitle>Home</PageTitle>

<p>Insert Logo Here</p>

<AuthorizeView>
	<Authorized>
		<p>
			Hi @context.User.Identity?.Name!
		</p>
		<p>
			<button class="btn btn-primary">Start Workout</button>
		</p>
		<p>
			<button class="btn btn-secondary">View Account</button>
		</p>
	</Authorized>
	<NotAuthorized>
		<p>
			<button class="btn btn-primary">Log In</button>
		</p>
		<p>
			<button class="btn btn-secondary">Create Account</button>
		</p>
	</NotAuthorized>
</AuthorizeView>