@page "/routines"
@using WhatYouDid.Routines
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Text
@using System.Security.Claims
@inject IRoutineService RoutineService
@attribute [Authorize]
@attribute [StreamRendering]
@inject NavigationManager Navigation
@inject AuthenticationStateProvider Authentication
@inject UserManager<ApplicationUser> UserManager

<PageTitle>Routines</PageTitle>
<h1>Routines</h1>

@if (routines is null)
{
	<span>Loading...</span>
}
else
{
	<QuickGrid Items=@routines>
		<PropertyColumn Property="@(p => p.Name)" />
	</QuickGrid>
}

@code {

	IQueryable<Routine>? routines = null;

	protected override async Task OnInitializedAsync()
	{
		var authState = await Authentication.GetAuthenticationStateAsync();
		var userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);
		var user = await UserManager.FindByIdAsync(userId);
		routines = RoutineService.GetUserRoutinesQueryable(user);

		StateHasChanged();
		//routines = await RoutineService.GetRoutinesAsync();
	}
}
