@page "/routines"
@using WhatYouDid.Routines
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IRoutineService RoutineService
@attribute [StreamRendering]

<PageTitle>Routines</PageTitle>

@if (routines is null)
{
	<span>Loading...</span>
}
else if (routines.Count == 0)
{
	<span>No Routines Found.</span>
}
else
{
	<ul>
		@foreach (var routine in routines)
		{
			<li>@routine.Name</li>
		}
	</ul>
}


@code {

	List<Routine>? routines = null;

	protected override async Task OnInitializedAsync()
	{
		routines = await RoutineService.GetRoutinesAsync();
	}
}
