@page "/workouts"
@using WhatYouDid.Shared
@attribute [Authorize]
@rendermode InteractiveWebAssembly

@inject IWorkoutService WorkoutService

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Workout History</PageTitle>
<MudText Typo="Typo.h4">Workouts</MudText>

<MudTextField Placeholder="Search workouts..." @bind-Value="searchText" @oninput="OnSearchInput" FullWidth="true" Variant="Variant.Outlined" Class="mb-3" />

@if (workouts is null)
{
    <MudCard Class="mb-2">
        <MudCardContent>
            <MudProgressLinear Indeterminate="true" />
        </MudCardContent>
    </MudCard>
}
else
{
    foreach (var workout in workouts)
    {
        <WorkoutCard @key="workout.WorkoutId" Workout="@workout" OnDeleted="LoadPage" />
    }

    <div class="d-flex justify-content-center mt-2">
        <MudPagination Count="@totalPages" Selected="currentPage" SelectedChanged="OnPageChanged" />
    </div>
}

@code {

    [PersistentState]
    public List<WorkoutListItemDto>? workouts { get; set; }

    [PersistentState]
    public int? totalWorkouts { get; set; }

    int currentPage = 1;
    const int pageSize = 10;
    string? searchText;
    CancellationTokenSource? _debounce;

    private int totalPages => (int)Math.Ceiling((totalWorkouts ?? 0) / (double)pageSize);

    protected override async Task OnInitializedAsync()
    {
        if (workouts is null)
            await LoadPage();
    }

    private async Task LoadPage()
    {
        totalWorkouts = await WorkoutService.GetWorkoutsCountAsync(searchText);
        workouts = await WorkoutService.GetWorkoutsAsync((currentPage - 1) * pageSize, pageSize, searchText);
    }

    private async Task OnSearchInput(ChangeEventArgs args)
    {
        searchText = args.Value?.ToString();
        _debounce?.Cancel();
        _debounce = new CancellationTokenSource();
        var token = _debounce.Token;
        try
        {
            await Task.Delay(300, token);
            currentPage = 1;
            totalWorkouts = await WorkoutService.GetWorkoutsCountAsync(searchText);
            workouts = await WorkoutService.GetWorkoutsAsync(0, pageSize, searchText);
        }
        catch (TaskCanceledException) { }
    }


    private async Task OnPageChanged(int page)
    {
        currentPage = page;
        workouts = await WorkoutService.GetWorkoutsAsync((page - 1) * pageSize, pageSize, searchText);
    }
}
